<div class="container yaoyiyao" >
  <div class="header">
    <a href="index.html">
      <img src="html/images/icon-1.png" class="return" />
    </a>
    <a href="index.html">
      <img src="html/images/icon-2.png" class="return-index" />
    </a>
    <h1>摇一摇</h1>
  </div>
  <div class="shake"></div>
  <div class="rule">
    <div class="ac-tit">
      <h2>活动内容</h2>
    </div>
    <div class="rule-content">
      <div class="ac-sum">
        <h3>活动主题：</h3>
        <p>万圣节送福利，精彩大奖等你拿！</p>
      </div>
      <div class="ac-sum">
        <h3>活动时间：</h3>
        <p>2014年10月20日-2014年11月11日</p>
      </div>
      <div class="ac-sum">
        <h3>活动奖项：</h3>
        <ul class="awards">
          <li>一等奖：获得欢乐谷免费门票2张</li>
          <li>二等奖：获得欢乐谷免费门票1张</li>
          <li>三等奖：获得鬼面一个</li>
        </ul>
      </div>
      <div class="ac-sum">
        <h3>兑换方法：</h3>
        <p>请凭截图兑换。</p>
      </div>
      <div class="copyright">
        本活动纯属虚构（技术支持：H君）
      </div>
    </div>
  </div>
</div>
<div  id="Loading" class="loading"></div>
<audio style="display:none" id="musicSwitch" preload="metadata"  controls="controls"  autoplay="false">
</audio>